extends ../layout

block content
  .jumbotron
    .container
      h3 &nbsp;
      h1 Hello, world!
      p
        |if you is first use the system, pelease see the detail
      p
        a.btn.btn-primary.btn-lg(href="#", role="button")
          |Learn more
  .container
    .row
      form.form-horizontal(method="post", action="/admin/department/save")
        .form-group
          label.col-sm-2.control-label(for="inputDepartment") 部门
          .col-sm-10
            input#inputDepartment.form-control(type="text", name="department[name]")

        .form-group
          .col-sm-offset-2.col-sm-10
          button.btn.btn-default(type="submit") 录入

